* {
	margin: 0;
	padding: 0;
}
@font-face
{
	font-family: 'Gotham Ultra';
	src: url('fonts/gotham_ultra.ttf');
}
body {
	font-size: 20px;
	background: #4d5053 url('img/bg_pattern.png');
}
header {
	position: relative;
	margin: 5rem auto 0;
	width: 17rem;
	opacity: 0;
	-webkit-transition: opacity .5s linear;
}
.ready header {
	opacity: 1;
}
h1 {
	font-size: 3.1rem;
	font-family: 'Gotham Ultra';
}

/* Letters */
span {
	display: inline-block;
	-webkit-transform: rotateY(90deg);
	-webkit-transition: all .5s ease 1s;
}
span:nth-child(5) {
	background-image: url('img/html5_badge.svg');
	background-size: contain;
	background-repeat: no-repeat;
	height: 0;
	padding-top: 3.5rem;
	width: 3.5rem;
	overflow: hidden;
	position: relative;
	top: .8rem;
	z-index: 2;
}
.animateText span{
	-webkit-transform: rotateY(0deg);
}

/* icons */
div, ul, li {
	-webkit-transition-delay: .5s !important;
}
.animateIconsBack ul,
.animateIconsBack li {
	-webkit-transition-delay: 0s !important;
}
div {
	top: 2rem;
	left: 50%;
	position: absolute;
	-webkit-transform: rotate(0deg);
	-webkit-transition: -webkit-transform 10s ease-out;
}
.animateIcons div {
	-webkit-transform: rotate(-10deg);
}
ul {
	list-style: none;
	position: relative;
	left: 2.35rem;
	-webkit-transition: all .5s cubic-bezier(.7,1.12,.27,.96);
	-webkit-transform: rotate(-180deg);
}
.animateIcons ul {
	-webkit-transform: rotate(-360deg);
}
.animateIconsBack ul {
	-webkit-transform: rotate(-540deg);
}
li {
	position: absolute;
	left: 0;
	top: 0;
	width: 1.5rem;
	height: 1.5rem;
	z-index: 1;
	-webkit-transition: all .5s cubic-bezier(.7,1.12,.27,.96);
	-webkit-transform: translate(0,0);
	opacity: 0;
}
.animateIcons li {
	opacity: 1;
}
.animateIconsBack li {
	-webkit-transform: translate(0,0) !important;
	opacity: 0;
}
.animateIcons li:nth-child(1) {
	-webkit-transform: translate(-9rem, -5rem);
}
.animateIcons li:nth-child(2) {
	-webkit-transform: translate(5rem, -5rem);
}
.animateIcons li:nth-child(3) {
	-webkit-transform: translate(5rem, 5.5rem);
}
.animateIcons li:nth-child(4) {
	-webkit-transform: translate(-5.5rem, 4.5rem);
}
.animateIcons li:nth-child(5) {
	-webkit-transform: translate(-3rem, -6rem);
}
.animateIcons li:nth-child(6) {
	-webkit-transform: translate(8rem, -2rem);
}
.animateIcons li:nth-child(7) {
	-webkit-transform: translate(-0.5rem, 6.5rem);
}
.animateIcons li:nth-child(8) {
	-webkit-transform: translate(-10rem, 3rem);
}